.x-edit-table { background: url(../images/table.png) 0 0 no-repeat !important; }
/***
 * There is some CSS code missing in the Ext 'Crisp' themes which results in a tiny 'source' editor in the HTML component
 * The code below is from the 'Neptune' theme
 */
.x-htmleditor-iframe, .x-htmleditor-textarea {
    border: 0 none;
    display: block;
    height: 100%;
    overflow: auto;
    width: 100%;
}